<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Welcome to the Dolce Crostata recipe website. Discover delicious 
        and easy to follow recipes, videos and more">
        <meta name="keywords" content="Dolce Crostata, easy baking, desserts, patisserie, beginner baking, recipe">
        
        <title>Dolce Crostata - product</title>
        <%- include("../fragmente/head") %>      
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Pagină produs</h2>

                <article id="art-produs">
                    <h3 class="nume">Nume: <%- locals.prod.nume %></span></a></h3> 
                    <p class="categorie">Categorie: <%- locals.prod.category %></span></p>
                    <p class="descriere">Descriere:<%- locals.prod.descriere %></span></p>
                    <p class="pret">Pret: <%- locals.prod.pret %></span></p>
                    <p class="tara">Țară de origine: <%- locals.prod.country %></span></p>
                    <p class="ingrediente">Ingrediente: <%- locals.prod.ingrediente %></span></p>
                    <p class="gramaj">Gramaj: <%- locals.prod.gramaj %></span></p>
                    
                    <p class="dificultate">Dificultate: <%- locals.prod.dificultate %></span></p>
                    <p class="de_post">Pentru diabetici: <%- prod.de_post ? 'Da' : 'Nu' %></span></p>
                    <p>Data adăugare: <%- prod.data_adaugare %></span></p>
                    <figure class="imag-produs">
                        <img src="/resurse/imagini/produse/<%- prod.imagine %>" alt="[imagine <%- prod.nume %>]" />
                    </figure>
                </article>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>